.application__inner {
  background-image: url("../img/image1.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info_part {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
.info_part h1 {
  width: 320px;
  margin: auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 120%;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 220px;
}
.info_part h3 {
  font-size: 18px;
  font-weight: 700;
  color: #FFFFFF;
  margin: 0 0 30px 0;
}

.application_btn {
  text-transform: uppercase;
  width: 200px;
  outline: none;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #DD3037;
  border: none;
  padding: 10px 36px 10px 36px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 30px 0;
}

.company__inner {
  width: 100%;
  background-color: rgb(33, 33, 33);
  min-height: 100vh;
  padding: 0 0 5px 0;
}

.item__inner {
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  min-height: 100dvh;
}
.item__inner h3 {
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 35px;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 15px;
}

.square__item {
  border: 1px solid rgb(182, 255, 186);
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 rgb(182, 255, 186);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.5), 0 0 10px 0 rgb(182, 255, 186);
  background: rgba(0, 0, 0, 0.7);
  width: 80px;
  height: 70px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.square__item span {
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: #21A038;
}

.item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  width: 80%;
  margin: 10px auto;
  color: #FFFFFF;
}

.division {
  margin-top: 43px;
}
.division h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  margin: 43px 0 35px 5px;
}
@media screen and (min-width: 360px) and (max-width: 991px) {
  .division h3 {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu {
  width: 340px;
  margin: auto;
}
.menu .ul_list {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.menu .li_item {
  border: 2px solid #999999;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  color: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 10px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding: 0 16px 0 16px;
  cursor: pointer;
}
.menu .li_item:hover {
  background-color: #999999;
  color: rgb(33, 33, 33);
  border: 2px solid #999999;
}

.card {
  position: relative;
  width: 320px;
  margin: 35px auto auto auto;
  border: 3px solid #999999;
  border-radius: 30px;
  padding: 30px;
}

.card_text {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  margin-bottom: 10px;
  color: #21A038;
}
.card_text:nth-child(1) {
  color: #FFFFFF;
}

.more_btn {
  border: 0;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #21A038;
  position: absolute;
  left: 270px;
  top: 70px;
}
.btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 35px 0 55px 0;
}

.coll_btn {
  width: 270px;
  background-color: #DD3037;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  padding: 10px 36px 10px 36px;
  border-radius: 30px;
  border: 0;
  outline: none;
}

/*HIDDEN CARD*/
.hidden__card {
  display: none;
}

.block {
  display: block;
}

.close_btn {
  border: 0;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #21A038;
  position: absolute;
  left: 270px;
  top: 50px;
}
.close_btn img {
  width: 100%;
  height: 100%;
}

.employees_box {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  color: #FFFFFF;
}

.list_title {
  margin-bottom: 10px;
}

.list_item {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 8px;
}

.advantages__inner {
  width: 100%;
  min-height: 100vh;
  margin-top: 30px;
}
.advantages__inner h3 {
  margin: 45px 0 36.5px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #999999;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__menu {
  width: 100%;
  margin: auto;
}
.advantages__menu span {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  width: 280px;
}

.advantages_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advantages_list hr {
  border-bottom: 2.5px solid #999999;
}

.advantages_li {
  margin: auto;
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
}

.adv_btn {
  border: 0;
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #21A038;
}
/*PRODUCTS PART*/
.products__inner {
  background-color: rgb(33, 33, 33);
  margin-top: 35px;
  padding: 10px 0 20px 0;
}
.products__inner .title_box h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #999999;
  text-transform: uppercase;
}

.prod__btn {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  gap: 5px;
}
.prod__btn button {
  width: 108px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
  color: #999999;
  border: 2px solid #999999;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.prod__btn button:hover {
  color: rgb(33, 33, 33);
  background-color: #999999;
  cursor: pointer;
}

/*SLIDER PART*/
.slider {
  margin-top: 30px;
}

.slider-wrapper {
  position: relative;
  overflow: hidden;
}

.slide__box {
  margin: 35px 0 45px 0;
}

.top-slider__title {
  margin: auto;
  width: 165px;
  height: 180px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 5px rgba(217, 217, 217, 0.25);
          box-shadow: 0 0 0 5px rgba(217, 217, 217, 0.25);
  background: rgb(217, 217, 217);
}

.custom-dot {
  margin-top: 20px;
  width: 15px;
  height: 15px;
  background-color: #999999;
  border-radius: 50%;
}

.slick-active .custom-dot {
  width: 42px;
  height: 15px;
  background-color: #999999;
  border-radius: 25px;
}

/*ARROWS*/
.custom-arrow {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70px;
  height: 148px;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background: -webkit-gradient(linear, right top, left top, color-stop(6.073%, rgba(0, 0, 0, 0)), color-stop(99.892%, rgba(0, 0, 0, 0.7))), rgb(217, 217, 217);
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 6.073%, rgba(0, 0, 0, 0.7) 99.892%), rgb(217, 217, 217);
  cursor: pointer;
}
.custom-arrow button {
  outline: none;
  border: 0;
  background-color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.prev {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.prev,
.next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
}

.arrow_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.box_btn-prev {
  right: -10px;
  top: -100px;
  -webkit-transform: translateY(-45%);
          transform: translateY(-45%);
}

.box_btn-next {
  left: -10px;
  top: 100px;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
}

.career_slide_box {
  background-color: rgb(17, 19, 17);
  min-height: 100vh;
}

.career_inner {
  margin-top: -250px;
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
  background-color: rgb(17, 19, 17);
}

.career_slide_innerBox {
  width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.pro_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.pro_text p {
  color: #FFFFFF;
}

.img_box {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.img_box img {
  width: 240px;
  height: 220px;
}

.text_box {
  width: 320px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 20px;
}
.text_box p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}

.career_name {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
}

.career_text_box {
  max-width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  width: 320px;
  margin: auto;
}
.career_text_box .career_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-left: 20px;
}
.career_text_box .career_li {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  list-style-type: disc;
  gap: 5px;
}

/*arrow part*/
.career_custom-arrow {
  position: relative;
}

.career_next {
  position: absolute;
  left: 10px;
  top: 110px;
  z-index: 1;
  border: 0;
  outline: none;
  background-color: inherit;
}

.career_prev {
  position: absolute;
  right: 10px;
  top: 110px;
  z-index: 1;
  border: 0;
  outline: none;
  background-color: inherit;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.success_inner {
  background-image: url("../img/car-mob.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgb(33, 33, 33);
  padding-top: 170px;
  padding-bottom: 50px;
}

.success_text {
  -webkit-transform: translateY(-140%);
          transform: translateY(-140%);
  width: 320px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.success_text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  color: #FFFFFF;
}

.screen {
  margin: auto;
  width: 313px;
  height: 188px;
  border: 3px solid rgb(54, 133, 59);
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(79, 183, 86, 0.7);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 10px 0 rgba(79, 183, 86, 0.7);
  background: rgba(0, 0, 0, 0.8);
  padding: 20px 0 20px 0;
}

.screen_text {
  width: 260px;
  margin: auto;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #FFFFFF;
  text-align: left;
  margin-bottom: 15px;
}

.success_btn {
  text-transform: uppercase;
  width: 260px;
  outline: none;
  border-radius: 30px;
  color: #FFFFFF;
  background-color: #DD3037;
  border: none;
  padding: 10px 36px 10px 36px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 0 30px 0;
  margin-bottom: 0;
}

.footer_inner {
  padding-bottom: 20px;
}

.footer_title h3 {
  margin: 45px 0 36.5px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #999999;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__btn {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  gap: 10px;
}
.footer__btn button {
  text-transform: uppercase;
  width: 180px;
  border-radius: 5px;
  outline: none;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: inherit;
  color: #999999;
  border: 2px solid #999999;
  height: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__btn button:hover {
  color: rgb(33, 33, 33);
  background-color: #999999;
  cursor: pointer;
}

/*Coll part */
.footer_contact_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: 40px auto;
  height: 146px;
}

.footer_contact_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.footer_contact_inner span {
  font-size: 12px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/*footer social*/
.footer_social {
  width: 210px;
  margin: 46px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer_social img {
  width: 42px;
  height: 42px;
}

.footer_map {
  width: 360px;
  margin: auto;
}

.footer_bottom {
  width: 254px;
  margin: 42px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.copy_right {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 30px;
}

.footer_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 194px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.footer_link a {
  text-decoration: underline;
}

.form__inner {
  background-color: rgb(33, 33, 33);
}

.form__header {
  width: 350px;
  margin: auto;
  height: 50px;
  background-color: rgb(17, 19, 17);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__header .img_close {
  width: 40px;
  margin-left: 20px;
  margin-right: 20px;
}

.title_box {
  margin-top: 20px;
  margin-bottom: 37px;
}
.title_box h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #999999;
}

.form__part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: auto;
}

.input_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 320px;
  margin: auto;
}
.input_part input {
  width: 100%;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  border: 0;
  outline: none;
  background-color: inherit;
  border-bottom: 3px solid #999999;
  padding: 15px 10px 15px 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #999999;
}

.select_part {
  margin-bottom: 20px;
}
.select_part select {
  width: 100%;
  border: 0;
  outline: none;
  background-color: inherit;
  border-bottom: 3px solid #999999;
  padding: 15px 10px 15px 10px;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0;
  color: #999999;
}

.sub_title_box {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  margin-left: 10px;
}
.sub_title_box h4 {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #FFFFFF;
}

.text__part {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin: 15px 0 15px 10px;
}
.text__part p {
  font-size: 10px;
  color: #999999;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0;
}

.upload__file {
  text-align: left;
  margin-left: 10px;
  margin-bottom: 45px;
}
.upload__file button {
  width: 184px;
  background-color: #21A038;
  color: #FFFFFF;
  padding: 10px 36px 10px 36px;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
}

.text__agree {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  text-align: left;
}
.text__agree span {
  color: #999999;
  margin-bottom: 10px;
}

.check_bottom_span span {
  color: #999999;
  margin-left: 15px;
}

.check_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5px;
}
.check_box input {
  border: 0;
  outline: none;
  background-color: #999999;
}

.send__button {
  margin: 80px 0 46px 0;
}
.send__button button {
  border: 0;
  outline: none;
  width: 200px;
  background-color: #DD3037;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 36px 9px 36px;
}

/*SENDFORM PART*/
.close_icon_send {
  margin-left: 20px;
  margin-right: 20px;
}

.send__inner {
  background-color: rgb(33, 33, 33);
  padding-bottom: 50px;
}

.send__title {
  margin: 20px 0 74px 0;
}
.send__title h3 {
  color: #999999;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  text-transform: uppercase;
}

.send_success {
  margin: 45px auto;
  width: 240px;
}

.send__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.send__text p {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0;
  color: #FFFFFF;
  margin: 5px;
}

.hidden_send_form {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.home__btn button {
  width: 156px;
  border: 0;
  outline: none;
  background-color: #DD3037;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 30px;
  padding: 10px 36px 9px 36px;
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  src: url("../fonts/gothampro_medium-webfont.woff") format("woff"), url("../fonts/gothampro_medium-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  src: url("../fonts/gothampro_light-webfont.woff") format("woff"), url("../fonts/gothampro_light-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 300;
  src: url("../fonts/gothampro_light-webfont.woff") format("woff"), url("../fonts/gothampro_light-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 900;
  src: url("../fonts/gothampro_black-webfont.woff") format("woff"), url("../fonts/gothampro_black-webfont.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/gothampro_blackitalic-webfont.woff") format("woff"), url("../fonts/gothampro_blackitalic-webfont.woff2") format("woff2");
  font-display: swap;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ul {
  list-style-type: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:root {
  --first-font: "Stolzl", sans-serif;
  --second-font: "Playfair Display", sans-serif;
  --third-font: "Pramodia", sans-serif;
  --color-white: #F9F9F9;
  --color-black: #1C1E1E;
  --color-brown: #9D8962;
  --color-brown-darken: #837454;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

html {
  min-height: 100%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Gotham Pro", sans-serif;
}

body {
  width: 100%;
  position: relative;
  min-height: 100vh;
  font-size: 14px;
  font-weight: 400;
  background-color: rgb(17, 19, 17);
  letter-spacing: 0;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  min-height: 100%;
  margin-right: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}

/*HEADER*/
.header {
  width: 100%;
  color: #FFFFFF;
}
.header .header__inner {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2px 10px 2px 10px;
}
.header .header__inner .menu {
  display: none;
}
.header .header__inner .logo {
  width: 20px;
  margin: 0 auto;
}
.header .header__inner .phone_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 9px;
  font-weight: 700;
  line-height: 15px;
}

.footer {
  color: wheat;
  margin-top: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (min-width: 991px) {
  .wrapper {
    max-width: 100%;
  }
  .application__inner {
    background-image: url("../img/img-desc.webp");
  }
  .custom-arrow {
    width: 130px;
    height: 148px;
  }
  .custom-arrow .box_btn-prev {
    right: -10px;
    top: -100px;
    -webkit-transform: translateY(-45%);
            transform: translateY(-45%);
  }
  .custom-arrow .box_btn-next {
    left: -10px;
    top: 100px;
    -webkit-transform: translateY(-55%);
            transform: translateY(-55%);
  }
}